/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* 
------------------------------------
  uPortal Gallery.
------------------------------------ 
 * The gallery is a sliding drawer that provides interfaces for customizing the protal.
 */

/* Gallery Layout 
 * Includes Fluid layout overides.
 * Generally the overall layout should not need to be altered.
 * If needed, override these vales on a per-skin basis by adding the overrides to portal.css within the desired skin folder.
 */
.clear-float {clear:both;}
.up-gallery {position:relative;}
.up-gallery .gallery-inner {display:none; overflow: hidden; padding-top:7px; background:url(../images/gallery-bar.png) top left repeat-x; height:200px;  position:relative;}
.up-gallery .column-inner {position:relative;}
.up-gallery .menu-wrapper {width:130px; display:block; height:200px; position:relative;}
.up-gallery .content-wrapper {margin:0 0 0 127px; padding:8px 0; display:block; height:174px;}
.up-gallery .content {padding-right:8px; }
.up-gallery .content-filters-wrapper {width:200px; padding:0px; display:block; height:174px; position:relative;}
.up-gallery .content-results-wrapper {margin:0 0 0 220px; display:block; height:185px;}
.up-gallery .skins .content-results-wrapper {overflow-y: auto; overflow-x: hidden;}
.up-gallery .content-pager-wrapper {padding:0px; width:70px; display:block; height:170px;}
.up-gallery .content-results-wrapper .column-inner {padding-left:15px;}
.up-gallery .content-results-wrapper {padding:0px;}
.up-gallery .skins {}
.up-gallery .skins .content-results-wrapper,
.up-gallery .layouts .content-results-wrapper {margin-left:0px; margin-right:0px;}
.up-gallery .results-wrapper {overflow:hidden;}
.up-gallery .fl-col-mixed2 .fl-col-main {padding-left:0px;}
.up-gallery .content .add-content,
.up-gallery .content .use-content {overflow-y: hidden;}

/* Gallery General Coloring
 * Override these vales on a per-skin basis by adding the overrides to portal.css within the desired skin folder.
 */
.up-gallery {background:#333; color:#eee;}
.up-gallery .gallery-inner {background:url(../images/gallery-bar.png) top left repeat-x;}
.up-gallery .content-wrapper .content-filters-wrapper {padding-right:5px; background:transparent url(../images/gallery-search-active-arrow.png) right 20% no-repeat;}
.up-gallery .content-wrapper .content-filters-wrapper .categories-column,
.up-gallery .content-wrapper .content-filters-wrapper .packages-column {background:#424243; /*border:3px solid #424243; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;*/}

/* Gallery Menu Items 
 * The navigation menu of gallery views.
 */
.up-gallery .menu {height:190px; background:#424243; padding:10px 0 0 0; position:relative; margin-top:0; margin-bottom:0; margin-left:15px; margin-right:auto; width:100px; border-left:1px solid #979797; border-right:1px solid #979797;}
.up-gallery .menu li {position:relative; height:28px; cursor:pointer; list-style:none; margin:0; background:#525252; border-top:1px solid #979797;}
.up-gallery .menu li a {text-decoration: none; cursor: pointer;}
.up-gallery .menu li.last {border-bottom:1px solid #979797;}
.up-gallery .menu li.active {background:#333}
.up-gallery .menu li span {padding:7px; display:block; height:14px; width:110px; bottom:0; font-weight:bold; color:#fff; font-size:12px;}
.up-gallery .menu li.active span {position:relative; background:#333 url(../images/gallery-arrow-right.png) 90% 50% no-repeat;}
.up-gallery .menu li:hover {background-color:transparent;}
.up-gallery .menu li.active:hover,
.up-gallery .menu li.active:focus {background-color:#333; outline:none;}
.up-gallery .menu li :focus {outline:none;}
*:first-child+html .up-gallery .menu li {height:25px;}

/* Gallery Handle 
 * Clickable handle that opens the drawer. Once open, the handle can be clicked to close the drawer.
 */
.up-gallery .handle {margin:0; padding:0; position:absolute; bottom:-7px; left:0; right:0; background:#000 url(../images/gallery-bar.png) bottom left repeat-x; height:7px; clear:both;}
.up-gallery .handle a {box-shadow: 0px 1px 2px #ccc; -moz-box-shadow: 0px 1px 2px #ccc; -webkit-box-shadow: 0px 1px 2px #ccc; width:100px; -webkit-border-bottom-right-radius: 3px;-webkit-border-bottom-left-radius: 03px;-moz-border-radius-bottomright: 3px;-moz-border-radius-bottomleft: 03px;border-bottom-right-radius: 3px;border-bottom-left-radius: 03px; cursor:pointer; font-size:10px; border: 1px solid #c5c5c5; border-top:0px; position:absolute; top:6px; left:0; margin-left:25px; background: scroll #fff url(../images/gallery-handle.png) 0 0 repeat-x;}
.up-gallery .handle a span {text-transform:uppercase; color:#888; font-weight:bold; padding:1px 25px 2px 10px; margin-right:5px; display:block; background-image: url(../images/gallery-handle-arrow-down.png); background-position: right center; background-repeat: no-repeat;}
.up-gallery .handle-arrow-up {background-image: url(../images/gallery-handle-arrow-up.png) !important;}
.up-gallery .handle a:hover,
.up-gallery .handle a:focus{text-decoration: none;}

/* Gallery Modal Loaders 
 * Preloaders while the content loads, following the opening of the drawer.
 */
.up-gallery .gallery-loader {display: block; margin: 7px 0px 0px 127px; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background: #333 url("../images/gallery-content-preloader.gif") 50% 50% no-repeat;}
.up-gallery .gallery-loader span {display: none;}

/* Gallery Close Button 
 * An explicit close button, that closes the drawer.
 */
.up-gallery .close-button {width:84px; padding:1px 2px; position:absolute; left:28px; bottom:3px; background-color:#F68A25; background-image:-moz-linear-gradient(90deg,#F68A25,#fcf8d9); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FCF8D9), to(#F68A25)); cursor:pointer; border:1px solid #000; text-align:center; }
.up-gallery .close-button a {color: #000; padding-right:0; padding-left:0;}
.up-gallery .close-button a:hover,
.up-gallery .close-button a:focus {text-decoration: none;}
.up-gallery .close-button:hover {color:#fff;}
.up-gallery .close-button span{font-weight:bold; font-size:13px;}

/* Gallery Add/Use Portlet Filters 
 * Search and category filters for the add portlet and use portlet views.
 */
.up-gallery .portlet-search-form {margin-bottom:10px;}
.up-gallery .portlet-search-form label,
.up-gallery .portlet-search-form .portlet-search-submit {display:none;}
.up .up-gallery .portlet-search-form .portlet-search-input {width:157px; padding:2px 4px; background:#e6e6e6; color:#999; border:1px solid #000; font-size:11px; -moz-box-shadow:inset 0px 1px 3px #000000; box-shadow: inset 0 0 10px #000000;}
.up .up-gallery .portlet-search-form .portlet-search-input:hover {background:#fff;}
.up .up-gallery .portlet-search-form .portlet-search-input:focus {background:#fff; color:#000;}
.up-gallery .categories-column,.up-gallery .packages-column {padding:0;}
.up-gallery .categories,.up-gallery .packages {}
.up-gallery .categories-column, .up-gallery .packages-column{clear:both;}
.up-gallery .content-filters-wrapper h3 {margin:0; padding:7px 0 0 0; cursor:pointer; font-size:12px; color:#c5c5c6;}
.up-gallery .categories-column h3 {
    background:#333;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    
}
.up-gallery .packages-column h3 {position:absolute; top:0; left:80px;}
.up-gallery .content-filters-wrapper .active h3 {color:#f68923;}
.up-gallery .content-filters-wrapper h3 span {
    padding:1px 10px; 
    border:2px solid #424243; 
    border-bottom:none;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.up-gallery .content-filters-wrapper .active h3 span {background:#424243;}
.up-gallery .content-filters-wrapper h3 span:hover,
.up-gallery .content-filters-wrapper h3 span:focus {background:#000; color:#f68923;}
.up-gallery .categories-column .categories-wrapper, .up-gallery .packages-column .packages-wrapper {display:none;}
.up-gallery .categories-column.active .categories-wrapper, .up-gallery .packages-column.active .packages-wrapper {display:block;}
.up-gallery .packages-wrapper, .up-gallery .categories-wrapper {padding:10px;}
.up-gallery .packages p {margin:0; color:#aaa; font-size:11px;}
.up-gallery .categories-column h4 {color:#ccc; padding-bottom:1px; margin-bottom:3px; font-size:10px; text-transform:uppercase; border-bottom:1px dotted #666;}
.up-gallery .categories ul, .up-gallery .categories li, .up-gallery .categories a {list-style:none; margin:0; padding:0; color:#aaa; font-size:10px; text-decoration:none;}
.up-gallery .categories li {float:left; padding:1px 0 1px 2px;  text-align:left; cursor:pointer;}
.up-gallery .categories li:after {content:", ";}
.up-gallery .categories li:last-child:after {content:"";}
.up-gallery .categories li a {}
.up-gallery .categories li a:hover, .up-gallery .categories li a:focus, .up-gallery .categories li.active a {color:#fff;}
.up-gallery .categories li a:hover, .up-gallery .categories li a:focus {background-color:rgba(0,0,0,.25);}
.up-gallery .categories li.active a {text-decoration:underline;}

/* Gallery List Pager 
 * Pagination controls for lists in the gallery.
 */
.up-gallery .content-pager-wrapper {padding:2px; background:#424243;}
.up-gallery .content-pager-wrapper .column-inner {padding:0px; margin:0px;}
.up-gallery .pager-button-up span,
.up-gallery .pager-button-down span {display:none;}
.up-gallery .pager-pagination {height:38px; color:#FFF; margin:2px 0 2px 0; font-size:10px;}
.up-gallery .pager-button-up-inner {display:block; height:59px; background: url(../images/gallery-pager-up-active.png) center 85% no-repeat;}
.up-gallery .pager-button-down-inner {display:block; height:59px; background: url(../images/gallery-pager-down-active.png) center 15% no-repeat;}
.up-gallery .pager-button-up.fl-pager-disabled .pager-button-up-inner {background-image: url(../images/gallery-pager-up-inactive.png);}
.up-gallery .pager-button-down.fl-pager-disabled .pager-button-down-inner {background-image: url(../images/gallery-pager-down-inactive.png);}
.up-gallery .pager-button-up,
.up-gallery .pager-button-down {cursor:pointer; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; position:relative; border:1px solid #666666; height:62px; background-image:none; background:transparent;}
.up-gallery .pager-button-up,
.up-gallery .pager-button-down {background-color:#666666; background-image:-moz-linear-gradient(90deg,#424243,#666666); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#424243), to(#666666));}
.up-gallery .pager-button-up:hover,
.up-gallery .pager-button-down:hover,
.up-gallery .pager-button-up:focus,
.up-gallery .pager-button-down:focus {background-image:-moz-linear-gradient(90deg,#424243,#888888); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#424243), to(#888888)); border-color:#fff;}
.up-gallery .pager-button-up-inner:focus,
.up-gallery .pager-button-down-inner:focus {outline:none;}
.up-gallery .pager-button-up.fl-pager-disabled,
.up-gallery .pager-button-down.fl-pager-disabled,
.up-gallery .pager-button-up.fl-pager-disabled:hover,
.up-gallery .pager-button-down.fl-pager-disabled:hover,
.up-gallery .pager-button-up.fl-pager-disabled:focus,
.up-gallery .pager-button-down.fl-pager-disabled:focus {background:#333; border-color:#666;}

/* Gallery Portlet List 
 * The list of portlets for add and use.
 */
.up-gallery .results-wrapper {font-size:10px; position:relative; color:#AAA;}
.up-gallery .results-wrapper .portlet-list {list-style:none; padding:0; margin:0; position:relative;}
.up-gallery .results-wrapper .portlet-list li {display:block; list-style:none; padding:0; maring:0; position:relative; float:left; /*width:25%;*/ width: 33%; height:50%;}
.up-gallery .results-wrapper .portlet-list li .portlet-wrapper {height:75px; padding:0px; margin:5px 5px 0 0; overflow:hidden; position:relative;}
.up-gallery .results-wrapper a,
.up-gallery .results-wrapper a:focus,
.up-gallery .results-wrapper a:hover {text-decoration:none;}
.up-gallery .results-column.fl-col-main {margin:0 74px 0 0; padding:0px; position:relative;}
.up-gallery .results-wrapper .pager-column.fl-col-side {float:right; width:74px; margin:0px; padding:0px;}
.up-gallery .results-wrapper .portlet-list {position:relative; width:100%;}
.up-gallery .portlet-wrapper {
    background: #333; border:1px solid #666; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius-topright:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px;
    -moz-box-shadow: 0px 0px 2px 0px #000; -webkit-box-shadow: 0px 0px 2px 0px #000; box-shadow: 0px 0px 2px 0px #000;}
.up-gallery .portlet-wrapper:hover {border:1px solid #f68923; background:#111; background-image:-moz-linear-gradient(90deg,#000000,#333333); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#333333)); border-top-right-radius:0px;    -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; !important;}
.up-gallery .portlet-wrapper:hover .portlet-thumb-link {color: #000; background:#f68923; background-image:-moz-linear-gradient(90deg,#f68923,#ffffff); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f68923), to(#ffffff)); !important;}
.up-gallery .portlet-wrapper-inner{padding: 0px 5px 0px 5px;}
/* Add Link */
.up-gallery .portlet-thumb-link {position: absolute; top: 0px; right: 0px; display: block; cursor:pointer; color:#000; padding:2px 8px; background:#666;
    background-image:-moz-linear-gradient(90deg,#666,#ffffff); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#ffffff)); text-align: center;}
.up-gallery .portlet-thumb-link:hover {color: #000; background: #F68923; background-image:-moz-linear-gradient(90deg,#F68923,#FFF); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F68923),to(#FFF));}
/* Drag Handle */
.up-gallery .portlet-thumb-gripper {display: block; background: #444444 url("../images/gripper.png") 5px 0px no-repeat; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px; cursor: move;}
.up-gallery .add-content .portlet-thumb-gripper {background: #444444 url("../images/gripper.png") 5px 0px no-repeat;}
.up-gallery .use-content .portlet-thumb-gripper {background: transparent; cursor: default;}
.up-gallery .portlet-thumb-gripper span {display: block; width: 16px; height: 16px; overflow: hidden; visibility: hidden;}
.up-gallery .portlet-thumb-titlebar {padding: 5px 8px 3px 8px; font-size:11px; font-weight:bold; color:#DDD;}
.up-gallery .portlet-thumb-content {padding: 0px 8px 0px 8px;}
.up-gallery .portlet-thumb-icon {width:37px; height:37px; background: url(/ResourceServingWebapp/rs/tango/0.8.90/32x32/categories/applications-other.png) 0% 0% no-repeat;}
.up-gallery .portlet-thumb-icon span {visibility: hidden;}
.up-gallery .portlet-thumb-description {color: #AAA; padding: 0; margin-left: 36px;}

/* temporary icon */
.up-gallery .results-wrapper .package-list {list-style:none; padding:0; margin:0; position:relative;}
.up-gallery .results-wrapper .package-list li {display:block; list-style:none; padding:0; maring:0; position:relative; float:left; width:33%; height:50%;}
.up-gallery .results-wrapper .package-list li .package-wrapper {height:66px; padding:5px 8px 5px 8px; margin:5px 5px 0 0; overflow:hidden; position:relative;}
.up-gallery .results-wrapper .package-list {position:relative; width:100%;}
/* IE7 adjustments*/
*:first-child+html .up-gallery .results-wrapper .portlet-list li {width:24%;} 
*:first-child+html .up-gallery .results-wrapper .package-list li {width:24%;} 

.up-gallery .package-wrapper {background: #333; border:1px solid #666; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius-topright:0px; -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px; -moz-box-shadow: 0px 0px 2px 0px #000; -webkit-box-shadow: 0px 0px 2px 0px #000; box-shadow: 0px 0px 2px 0px #000;}
.up-gallery .package-wrapper:hover {
    border:1px solid #f68923; background:#111; background-image:-moz-linear-gradient(90deg,#000000,#333333); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#333333));
    border-top-right-radius:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px;}

.up-gallery .package-wrapper .package-link {position: absolute; top: 0px; right: 0px; display: block; cursor:pointer; color:#000; padding:2px 8px; background:#666; display: block;
    background-image:-moz-linear-gradient(90deg,#666,#ffffff); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#ffffff)); text-align: center;}
.up-gallery .package-wrapper .package-link:hover,
.up-gallery .package-wrapper:hover .package-link {color: #000; background: #F68923; background-image:-moz-linear-gradient(90deg,#F68923,#FFF); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F68923),to(#FFF));}
.up-gallery .package-titlebar {padding:16px 0 3px 0; font-size:11px; font-weight:bold; color:#DDD;}
.up-gallery .package-content {}
.up-gallery .package-icon {width:37px; height:37px;}
.up-gallery .package-icon span {visibility: hidden;}
.up-gallery .package-description {color: #AAA; padding: 0; margin-left: 36px;}

/* Gallery Skin List 
 * The list of skins.
 */
.up-gallery .results-wrapper {font-size:10px; position:relative; color:#AAA;}
.up-gallery .results-wrapper .skins-list {list-style:none; padding:0; margin:0; position:relative;}
.up-gallery .results-wrapper .skins-list li {display:block; list-style:none; padding:0; maring:0; position:relative; float:left; width:140px; height:75%;}
.up-gallery .results-wrapper .skins-list li .skins-wrapper {height:100px; padding:5px; margin:5px 5px 0 0; overflow:hidden; position:relative;}
.up-gallery .skins-wrapper a {cursor:pointer; top:0; right:0; color:transparent;}
.up-gallery .skins-wrapper img {border:none;}
.up-gallery .skin-titlebar {padding:5px 0 3px 0; font-size:12px; font-weight:bold; color:#DDD;}
.up-gallery .skins-wrapper  {border:1px solid #333; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.up-gallery .skins-wrapper:hover {border:1px solid #f68923; background:#111; background-image:-moz-linear-gradient(90deg,#000000,#333333); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#333333));}
.up-gallery .skins-wrapper:hover a {display:block;}
.up-gallery .skins-wrapper.selected {border:1px solid #f68923; background:#f68d29; background-image:-moz-linear-gradient(90deg,#d87516,#222222); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d87516), to(#222222)); color:#fff;}
.up-gallery .selected .skin-titlebar {color:#fff;}
.up-gallery .skins-wrapper .skin-thumb {width: 120px; height: 70px;}
.up-gallery .skins-wrapper .skin-thumb span {visibility: hidden;}


/* Gallery Layout List 
 * The list of page layouts.
 */
.up-gallery .results-wrapper {font-size:10px; position:relative; color:#AAA;}
.up-gallery .results-wrapper .layouts-list {list-style:none; padding:0; margin:0; position:relative;}
.up-gallery .results-wrapper .layouts-list li {display:block; list-style:none; padding:0; maring:0; position:relative; float:left; width:140px; height:50%;}
.up-gallery .results-wrapper .layouts-list li .layout-wrapper {height:66px; padding:5px 10px 5px 10px; margin:5px 5px 0 0; overflow:hidden; position:relative;}
.up-gallery .layout-wrapper a {cursor:pointer; top:0; right:0; color:transparent;}
.up-gallery .layout-wrapper img {border:none;}
.up-gallery .layout-titlebar {padding:5px 0 3px 0; font-size:12px; font-weight:bold; color:#DDD;}
.up-gallery .layout-description {clear:right; color:#AAA; display:inline;}
.up-gallery .layout-thumb {float:left; margin:0 5px 5px 0;}
.up-gallery .layout-wrapper  {border:1px solid #333; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.up-gallery .layout-wrapper:hover {border:1px solid #f68923; background:#111; background-image:-moz-linear-gradient(90deg,#000000,#333333); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#333333));}
.up-gallery .layout-wrapper:hover a {display:block;}
.up-gallery .layout-wrapper.selected {border:1px solid #f68923; background:#f68d29; background-image:-moz-linear-gradient(90deg,#d87516,#222222); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d87516), to(#222222));}
.up-gallery .selected .layout-titlebar {color:#fff;}
.up-gallery .layout-wrapper .layout-thumb {width: 27px; height:27px;}
.up-gallery .layout-wrapper .layout-thumb span {visibility: hidden;}

/* Gallery: Avatar */
.up .portlet.ui-draggable-dragging {
    border: 1px solid #F68923; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius-topright:0px; -moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px;
    padding: 0; margin: 0; list-style: none; -moz-box-shadow: 0px 0px 4px 0px #333; -webkit-box-shadow: 0px 0px 4px 0px #333; box-shadow: 0px 0px 4px 0px #333; background: #333; position: relative;
    background-image:-moz-linear-gradient(90deg,#000000,#333333); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#333333)); height: 80px; width: auto;
    overflow: hidden; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80);}
.up .portlet.ui-draggable-dragging .portlet-wrapper {overflow: hidden;}
.up .portlet.ui-draggable-dragging .portlet-wrapper-inner {padding:0px 10px 0px 10px; position: relative;}
.up .portlet.ui-draggable-dragging .portlet-thumb-link {
    position: absolute; top: 0px; right: 0px; display: block; color: #000; text-decoration: none; font-size: 77%; padding: 2px 8px; background: #666; background-image: -moz-linear-gradient(90deg,#666,#ffffff); 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#ffffff)); text-align: center; cursor: move; background: #F68923; background-image: -moz-linear-gradient(90deg,#F68923,#ffffff);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F68923),to(#ffffff));}
.up .portlet.ui-draggable-dragging .portlet-thumb-gripper {
    display: block; background: #444444 url("../images/gripper.png") 5px 0px no-repeat; cursor: move; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px;}
.up .portlet.ui-draggable-dragging .portlet-thumb-gripper span {display: block; width: 16px; height: 16px; overflow: hidden; visibility: hidden;}
.up .portlet.ui-draggable-dragging .portlet-thumb-titlebar {padding: 5px 8px 3px 8px; font-size:11px; font-weight:bold; color:#DDD;}
.up .portlet.ui-draggable-dragging .portlet-thumb-content {padding: 0px 8px 0px 8px;}
.up .portlet.ui-draggable-dragging .portlet-thumb-icon {width:37px; height:37px; background-repeat: no-repeat;}
.up .portlet.ui-draggable-dragging .portlet-thumb-icon span {visibility: hidden;}
.up .portlet.ui-draggable-dragging .portlet-thumb-description {color: #AAA; padding: 0; margin-left: 36px; font-size: 11px;}

/* Gallery: Drop Target */
.up .layout-draggable-drop-target {display: none; background: #FF0000; padding: 5px; height: 150px; text-align: center; margin-bottom: 1em;  border: 2px dashed #960000; font-weight: bold; color: #960000;}
.up .layout-draggable-drop-target span {display: block; padding: 65px 5px 5px 5px;}
.up .layout-draggable-drop-target-active {}
.up .layout-draggable-target-dropped {border: 1px solid #CCC; background: #EFEFEF url("../../uportal3/images/loading.gif") 50% 50% no-repeat;}
.up .layout-draggable-target-dropped span {display:none;}

