/*====================================*/
/* THEME */
/*====================================*/
/*
 * uMobile CSS is built with SASS:
 * http://sass-lang.com/
 */

/* Additional theme files boxed off for human use. */
@import "colors";
@import "buttons";
@import "badges";

.up {
	
	.ui-bar, .ui-li-divider {
		border-width: 1px;
		border-style: solid;
		font-weight: bold;
		text-shadow: 0 -1px 1px $black;
		
		input, select, textarea, button {
			font-family: Helvetica, Arial, sans-serif;
		}
	}
	
	.dashboard {
		color: $white;
		text-shadow: 0 1px 0 $black;
		background: $bgc url("images/bg_320x480_flat.png") 0 25px no-repeat;
		
		.ui-link-inherit { color: $white; }
		.ui-link { 
			color: $white;
			font-weight: bold;
			text-decoration: none;
		}
		.ui-br { 
		    border-bottom: 1px solid rgba(130,130,130,.3);
		}
		.ui-li-divider {
		    position: relative;
            padding-top: 29px;
            padding-bottom: 34px;
            padding-left: 92px;
            text-shadow: none;
			font-size: 16px;
			color: #831E24;
		}
	}
	
	.focused {
		color: $text;
		text-shadow: 0 1px 0 $white;
		background: $graylighter;
		@include gradient($graylightest, $graylighter);
	}
	
	.uw-titlebar-wrapper {
	    background: #A9212C;
	    padding-bottom: 15px;
        position: relative;
        
        h2.portlet-title {
            text-shadow: none;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            margin: 0;
            padding-top: 12px;
            color: $white;
        }
	}
	
	.uw-crest a {
        display: block;
        text-indent: -5000px;
        background: url("images/uw_crest.png") no-repeat top left;
        height: 47px;
        width: 31px;
        position: absolute;
        left: 10px;
        top: 5px;
        z-index: 3000;
	}
	
	.portlet-wrapper-titlebar {
		background-color: #831E24;
		color: $white;
		@include text-shadow();
		@include button(wisc-nav);
        border-bottom: 1px solid #662423;
        
        h1 {
            font-size: 18px;
            margin-bottom: 0.5em;
            text-shadow: none;
        }
	}
	
	.portlet-titlebar {
        border: none;
		background: $gray;
		color: $white;
		@include button(utility);
		
		h2 {
		    font-weight: normal !important;
		    text-shadow: none;
		}
	}
	
	.portlet-content {
		
		.titlebar {
			.title, .subtitle {
				margin: 0;
			}
			.subtitle {
				font-size: 100%;
				color: $graydarker;		
			}
		}
		
		@include button();
		
		.ui-li {
			@include gradient(#fcfcfc, #ededed);
		}
		
		.ui-li-divider {
			border-color: $graylight;
			border-top: 1px solid $graylight;
			background: $gray;
            text-shadow: none;
            @include gradient(#FFFFFF, #F1F2F1);
			z-index: 1;
			
			.ui-grid-a {
				.ui-block-b {
					text-align: right;
				}
			}
		}
		@each $tab in "Welcome", "Advising", "Teaching", "Learning", "Student", "Services", "Work", "News", "Research", "Portal" {
            .ui-li-divider span.tab-icon-#{$tab} {
                background: url("images/icon-default.png") no-repeat top left;
                display: block;
                height: 72px;
                width: 72px;
                position: absolute;
                top: 5px;
                left: 10px;
            }
		}
		.ui-li-heading {
            font-size: 14px;
            font-weight: normal;
            color: #831E24;
		}
		
		.utilities {
            @include button(utility);
		}
		
	}
	
	.portal-nav {
		.portlet {
			.icon {
				/*border: 1px solid $c1darkest;
				background: $c1;
				@include gradient($c1, $c1dark);
				@include rounded(5px);*/
			}
		}
	}
	/* icons */
	.ui-icon-map {
		background-image: url(images/icons/location-18x18.png);
	}
	
	.ui-icon-phone {
		background-image: url(images/icons/phone-18x18.png);
	}
	
	
}

/* retina icons */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.up {
		.ui-icon-map {
			background-image: url(images/icons/location-36x36.png);
			background-size: 18px 18px;
		}
	
		.ui-icon-phone {
			background-image: url(images/icons/phone-36x36.png);
			background-size: 18px 18px;
		}
	}
}
